<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ren.system.mapper.PostMapper">

    <resultMap type="post" id="PostResult">
        <id     property="postId"       column="post_id"      />
        <result property="postCode"     column="post_code"    />
        <result property="postName"     column="post_name"    />
        <result property="postSort"     column="post_sort"    />
        <result property="isStop"     column="is_stop"    />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="createTimeStr"   column="create_time_str"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="updateTimeStr"   column="update_time_str"  />
        <result property="remark"       column="remark"       />
    </resultMap>

    <sql id="selectPostVo">
        select
            post_id,post_code,post_name,post_sort,is_stop,
            create_time, create_by,FROM_UNIXTIME(create_time, '%Y-%m-%d %H:%i:%s') AS create_time_str, update_by, update_time, FROM_UNIXTIME(update_time, '%Y-%m-%d %H:%i:%s') AS update_time_str, remark
        from sys_post
    </sql>

    <insert id="insertPost" parameterType="post" useGeneratedKeys="true" keyProperty="postId" keyColumn="post_id">
        insert into sys_post(
        <if test="postId != null and postId != 0">post_id,</if>
        <if test="postCode != null">post_code,</if>
        <if test="postName != null">post_name,</if>
        <if test="postSort != null">post_sort,</if>
        <if test="isStop != null">is_stop,</if>
        <if test="remark != null">remark,</if>
        create_by,
        create_time
        )values(
        <if test="postId != null and postId != ''">#{postId},</if>
        <if test="postCode != null">#{postCode},</if>
        <if test="postName != null">#{postName},</if>
        <if test="postSort != null">#{postSort},</if>
        <if test="isStop != null">#{isStop},</if>
        <if test="remark != null">#{remark},</if>
        #{createBy},
        #{createTime}
        )
    </insert>

    <delete id="deletePost">
        delete from sys_post where post_id = #{postId}
    </delete>

    <update id="updatePost" parameterType="post">
        update sys_post
        <set>
            <if test="postCode != null and postCode != ''">post_code = #{postCode},</if>
            <if test="postName != null and postName != ''">post_name = #{postName},</if>
            <if test="postSort != null">post_sort = #{postSort},</if>
            <if test="isStop != null">is_stop = #{isStop},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_by = #{updateBy},
            update_time = #{updateTime}
        </set>
        where post_id = #{postId}
    </update>

    <select id="listPostByPage" resultMap="PostResult">
        <include refid="selectPostVo"/>
        <where>
            <if test="paramMap.searchLike != null and paramMap.searchLike != ''">
                AND (post_code LIKE #{paramMap.searchLike} OR post_name LIKE #{paramMap.searchLike})
            </if>
        </where>
    </select>

    <select id="listPostByParam" resultMap="PostResult">
        <include refid="selectPostVo"/>
        <where>
            <if test="searchLike != null and searchLike != ''">
                AND (post_code LIKE #{searchLike} OR post_name LIKE #{searchLike})
            </if>
        </where>
    </select>

</mapper>